DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
SESSION_SECRET="super-duper-s3cret"

#AUTH
ARGON_SECRET_KEY=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

# SMTP
SMTP_HOST=localhost
SMTP_PORT=2525
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=no-reply@arolitec.com
SMTP_FROM_NAME="Nobu Stack"